<!DOCTYPE html>
<html>
<head>
<style>
	body {background-color: rgba(143, 193, 227, 0.02);}
</style>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/></head>
</head>


<body>
<a name="home"></a>
<ul>
  <li><a href="">Home</a></li>
  <li><a href="#description">Description</a></li>
  <li><a href="#aboutus">About Us</a></li>
  <li><a href="https://github.com/lingblahblah/Database">Code</a></li>
</ul>

	<div class='bg'>
		<img src="http://www.goodnet.org/photos/620x0/28386_hd.jpg">
	</div>

	<div class="welcome">
		<h1> Columbia University Database System </h1>
	</div></a>

	<a name="description">
	<div class="container">
		<h2> Description </h2>
		<p> The "Columbia University Database System" is designed to keep track of the information of the Schools, Departments, Staffs, Courses, Students (both current and graduated), and Companies. Our project aims to provide users a front-end access to a specific school (Columbia University) database. Users will be able to identify entities such as School, Staff, Student, Department and Courses, as well as the relationships among entities. Users will also be able to select from some drop down menus to generate queries.<br><br>
		Examples of interesting SQL queries:<br>
		1. Among students who have working experience, which major has the highest job rate?<br>
		2. Find names of alumni (graduated students) that have found jobs and show their GPA.<br>
		3. Who are the top 5 popular professors based on the enrollment rate of all his/her teaching courses?<br><br>
		<a href="explore">Explore More</a></p>
	</div>
	</a>

	<a name="aboutus">
	<div class="team">
		<h2>Team Members:</h2><br>
		<h3>Ling Zhang</h3>
		<p> MS, Columbia University <br>
			Data Science Institute <br>
			(347) 453-6680 | ling.zhang@columbia.edu 
		</p>
		<br>
		<h3>Kevin Ma</h3>
		<p>MS, Columnbia University <br> 
			Data Science Institute <br>
			(646) 651-5989 | h.ma@columbia.edu
		</p><br>
	</div>
	</a>

	<div id="imagesMain">
  		<a href=http://engineering.columbia.edu/><img src="http://engineering.columbia.edu/files/engineering/NewEngineeringDkBlue.png"></a>
	</div>

</body>
</html>

